
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Kanit';
  src: url('../../public/Kanit-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Kanit', sans-serif;
}

html {
    height: auto;
    width: auto;   
    margin: 0;
    padding: 0;
   }
  
  body{
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;    
    margin: 0;
    padding: 0;
 
  }


header{
    flex: 0 0 auto;
}

.main-content{
    flex: 1 0 auto;
}

footer{
    flex: 0 0 auto;
}

 


/* remove scroll bar */
::-webkit-scrollbar {
    display: none;
}