.header3{
    position: fixed;
    top: 0;
    height: 10vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .header-page3 img{
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
  }
  
  .header3 .header-page3 {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: 0.5rem;
    font-size: 2rem;
    position:static;
    top:0;
    padding-top: 1rem;
    padding-bottom: 20px;
    font-weight: bold;
    background-color: #FFCC2E; 
  }
   
  .header-page3 div p {
    color: black;
    font-size: 0.8rem;
    text-align: center;
  }
  
  .header-page3 button {
    color: black;
    padding: 0.5rem;
    font-size: 2rem;
    left: 0.5rem;
  }
  
  .header-page3 h1 {
    flex-grow: 1;
    text-align: center;
  }


  .title_order{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 60%;
    height: 100%;
    /* background-color:rebeccapurple; */
  }

  .titlep3 p{
    position:relative;
    margin-right: 1vw;
    width: 10vw;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    background-color:cornsilk;
    border: #FFCC2E 2px solid;   
  }


 /*   .titlep3 p  is ช่องว่าง ไม่ต้องแสดงสี */
  

 .titlep2 p {
  position: relative;
  margin-right: 1vw;
  height: 10%;
  width: 15vw;
  align-self: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
}

.titlep2 p.hasPrice {
  border: #FFCC2E 2px solid;
  background-color: cornsilk;
}

.titlep2 p.noPrice {
  background-color: transparent;
}

  .itemv2 .but-tonv2 {
    border: none;
    color: black;
    text-align: right;
    border-radius: 8px;
    width: 100%;
  }
  .itemv2 .but-tonv2 p{
    font-size: 0.8rem;
  }
  

.Void{
  background-color: gray;
  width: 100%;
  height: 100%;
  z-index: 1002;
}

.Voidp{
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  z-index: 1002;
  position: absolute;
  font-size: 3rem;
  color:rgb(255, 69, 69);
}